.App {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:  1px solid #ccc;
  margin-bottom: 50px;
}
#header ul {
  display: flex;
}
#header li {
  padding:  0 20px;
}
h1 {
  font-size: 24px;
}
#footer {
  padding-top: 50px;
}
h2 {
  padding: 10px 0;
  background-color: orange;
}
#button {
  padding: 10px 30px;
  margin-left: 5px;
  border: none;
  outline: none;
  background-color: orange;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 3px #777;
}
#button:hover {
  background-color: rgb(255, 145, 2);
  box-shadow:none;
}